html{
    box-sizing: border-box;
    font-family: Copperplate, Papyrus, sans-serif;
    font-size: 18px;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    width: 600px;
    margin: 10px auto;
    background-color: rgb(223, 184, 174);
    color: rgb(61, 56, 56)
}