html
{
    box-sizing: border-box;
    font-family: Copperplate, Papyrus, sans-serif;
    font-size: 18px;
}

*,
*::before,
*::after
{
    box-sizing: inherit;
}

body
{
    width: 900px;
    margin: 10px auto;
    background-color: rgb(230, 228, 217);
    color: rgb(65, 65, 65);
}

.title
{
    text-align: center;
    background-color:indianred;
    color:bisque;
}

.picture,
.description,
.ingredients,
.instructions,
.closing
{
    width: 600px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.description,
.ingredients,
.instructions
{
    border: 3px solid orange;
    background-color: rgb(224, 181, 101); 
    padding: 5px;   
}

.picture
{
    display: block;
    height: auto;
    margin-top: -20px;
    border: 5px solid indianred;
}

.closing
{
    border: 3px dotted red;
    background-color: rgb(233, 119, 119);
    padding: 5px;
}
.button
{
    padding: 1em 2em;
    text-decoration: none;
    border: 1px solid rgb(255, 123, 0);
    background-color: rgb(223, 217, 162);
    position: sticky;
    top: 5px;
}

.quote
{
    color: rgb(66, 12, 5);
    text-align: center;
    margin-top: -20px;
}

.navigation
{
    width: fit-content;
    margin: 0 auto;
}

.navigation a
{
    text-decoration: none;
    border: 1px solid rgb(255, 123, 0);
    background-color: rgb(223, 217, 162);
    width: 160px;
    padding: 10px;
}
